<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num1: "1",
  num2: "1",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
function doAdd() {
  state.result = parseInt(state.num1) + parseInt(state.num2);
}
</script>

<template>
  <div>
    <div id="app" class="card">
      <div>
        <input
          type="text"
          ref="num1"
          v-model="state.num1"
          style="text-align: center"
        />
      </div>
      <div>+</div>

      <div>
        <input
          type="text"
          ref="num2"
          v-model="state.num2"
          style="text-align: center"
        />
      </div>

      <div>
        <button @click="doAdd()">=</button>
      </div>
      <div ref="result">
        {{ state.result }}
      </div>
      <div>{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
    </div>
  </div>
</template>

<style>
.card {
  border-style: solid;
  background-color: blue;
  width: 500px;
  text-align: center;
}
</style>
